<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<!--
					Yes this is a terrible abuse of the page function.
					If I ever need a page I will fix it.
				-->
				<%- list_tags() %>
		</div>
	</div>
</div>