//- Used to generate content preview on linestarve.com homepage
//- TODO this feels like a hack, and the site generator there should probably use the RSS feed instead
for post in posts.slice(0, 3)
	.box.content
		a(href=post.link): h3=post.title
		if post.short
			!=post.htmlBody
		else
			!=post.htmlSummary
		if !post.short
			a(href=post.link)
				if post.syndicated
					| Read on #{post.syndicated} »
				else
					| Read more »
.box.content
	a(href='/blog/'): h3(style='margin-bottom: 0') More posts »
