extends ./_page.pug

block title
	=`Posts tagged ${tag}`

block crumb_2
	!=' &rsaquo; '
	span(itemscope itemtype="http://data-vocabulary.org/Breadcrumb")
		a(href="/blog/tags/" itemprop="url"): span(itemprop="title") Tags
	!=' &rsaquo; '
	span(itemscope itemtype="http://data-vocabulary.org/Breadcrumb")
		span(itemprop="title")=tag

block main
	.container: .container-col
		for post in posts
			+post-preview(post)
