RewriteEngine On
RewriteBase /blog/

# Redirects for old Octopress 2-based blog
RewriteRule ^categories/algorithm/$    /blog/tags/Algorithm/     [R=temporary]
RewriteRule ^categories/apache/$       /blog/tags/Apache-HTTPd/  [R=temporary]
RewriteRule ^categories/asp-dot-net/$  /blog/tags/ASP-NET/       [R=temporary]
RewriteRule ^categories/frc/$          /blog/tags/FRC/           [R=temporary]
RewriteRule ^categories/frc2015/$      /blog/tags/FRC2015/       [R=temporary]
RewriteRule ^categories/handbrake/$    /blog/tags/HandBrake/     [R=temporary]
RewriteRule ^categories/html5-video/$  /blog/tags/HTML5-video/   [R=temporary]
RewriteRule ^categories/mod-ldap/$     /blog/tags/mod-ldap/      [R=temporary]
RewriteRule ^categories/sleepyhead/$   /blog/tags/SleepyHead/    [R=temporary]
RewriteRule ^categories/statistics/$   /blog/tags/Statistics/    [R=temporary]
RewriteRule ^categories/tibasic/$      /blog/tags/TI-BASIC/      [R=temporary]
RewriteRule ^categories/ubuntu/$       /blog/tags/Ubuntu/        [R=temporary]
RewriteRule ^categories/visualstudio/$ /blog/tags/Visual-Studio/ [R=temporary]
RewriteRule ^downloads/code/2014-09-24-rendering-html5-video-with-handbrake/HTML5_preset.plist$ /blog/post/rendering-html5-video-with-handbrake/HTML5_preset.plist [R=temporary]
RewriteRule ^downloads/code/2013-09-28-tibasic-stat-lmode/LMODE.8Xp$ /blog/post/tibasic-stat-lmode/LMODE.8Xp [R=temporary]
RewriteRule ^downloads/code/2013-11-30-tibasic-stat-multinom/MULTINOM.8Xp$ /blog/post/tibasic-stat-multinom/MULTINOM.8Xp [R=temporary]

